* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    position: relative;
    background-color: black;
    font-family: 'Manrope', sans-serif;
}

header{
    position: relative;
    height: .5rem;
    top: 0;
    width: 100%;
}

.nav-menu li {
    list-style: none;
    width: 10rem;
    margin-right: 5rem;
    font-size: 1.4rem;
    border-radius: 10px;
}

.nav-menu li:hover{
    background-color: #F0BB32;
}

.nav-menu a{
    color: white;
    text-decoration: none;
}

h1, h2, h3, p {
    color: white;
}

.container{
    width: 100%;
    margin: auto;
}

@media(max-width:1280px){
    .container{
        width: 100%;
    }
}

.navbar{
    width: 95%;
    margin: auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 2rem;
}

.home, .about{
    height:720px;
    margin-top: 70px;
    border: 1px solid white;
}

.recipe-grid{
    display: block;
    padding: 16px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
}

.col{
    border-radius: .5rem;
    height: 20.5rem;
    border: 2px solid white;
    margin-bottom: 16px;
    align-items: center;
    text-align: center;
    position: relative;
}

.col-img{
    margin-top: 1rem;
    width: 100%;
    height: 50%;
    background-image: url('dog.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.recipe-description {
    background-color: gray;
    opacity: 0.5;
    font-size: small;
    margin: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5rem;
    border-radius: 3px;
    transition: all 1s ease-in-out;
    transform: translateY(0%);
    
}

.recipe-description:hover {
    transform: translateY(-60%);
    opacity: 0.8;
}

.bottom {
    transform: translateY(110%);
    transition: transform 1s ease-in-out;
    opacity: 0;
}

.recipe-description:hover .bottom {
    transform: translateY(0%);
    opacity:1;
    background-color: black;
}
