* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    position: relative;
    background-color: black;
    font-family: 'Manrope', sans-serif;
}

header{
    position: relative;
    height: .5rem;
    top: 0;
    width: 100%;
}

.nav-menu li {
    list-style: none;
    width: 10rem;
    margin-right: 5rem;
    font-size: 1.4rem;
    border-radius: 10px;
}

.nav-menu li:hover{
    background-color: #F0BB32;
}

.nav-menu a{
    color: white;
    text-decoration: none;
}

h1, h2, h3, p {
    color: white;
}

.container{
    width: 100%;
    margin: auto;
}

@media(max-width:1280px){
    .container{
        width: 100%;
    }
}

@media (max-width: 600px) {
    .nav-menu a{display:none};
}

  
.navbar{
    width: 95%;
    margin: auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 2rem;
}

.selector{
    width: 25%;
    height: 2rem;
    position: absolute;
    right: 0;
    margin: 15px;
}

.selector:hover select{
    color: black;
    background-color: #F0BB32;
}

.selector select{
    width: 100%;
    height: 2.3rem;
    padding: 5px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    font-weight: bold;
    background-color: black;
    color:white;
    border: 2px solid #F0BB32;
    outline: none;
}


.selector select ::after{
    content: '\25BC';
}

.home, .about{
    height:720px;
    margin-top: 70px;
    border: 1px solid white;
}

.recipe-grid{
    display: block;
    padding: 16px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(6, 1fr);
}

@media only screen and (min-width: 851px) {
    .recipe-grid {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  @media only screen and (min-width: 600px) and (max-width: 850px) {
    .recipe-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media only screen and (max-width: 599px) {
    .recipe-grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .selector{
        width:93%;
        margin-left: 30px;
    }
  }

.col{
    border-radius: .5rem;
    height: 20.5rem;
    border: 2px solid white;
    margin-bottom: 16px;
    align-items: center;
    text-align: center;
    position: relative;
    user-select: none;
}

.col-img{
    margin-top: 1rem;
    width: 100%;
    height: 50%;
    background-image: url('dog.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.recipe-description {
    background-color: #4C4948;
    opacity: 0.5;
    font-size: small;
    margin: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5rem;
    border-radius: 3px;
    transition: all .2s ease-in-out;
    transform: translateY(0%);
    width: 100%;
    
}

.recipe-description:hover {
    transform: translateY(-60%);
    opacity: 0.8;
}

.bottom {
    transform: translateY(110%);
    transition: transform .2s ease-in-out;
    opacity: 0;
    height: 3rem;
    width: 100%;
}

.recipe-description:hover .bottom {
    transform: translateY(0%);
    opacity: 1;
    background-color: black;
}

.recipe-description p, .bottom p {
    margin: 5px;
    text-align: center;
    user-select: none;
}

.bottom b, .bottom h4, .bottom em{
    color: white;
}

.highlight{
    visibility: none;
}